@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
      url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family:  Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family:  Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:980px;
}
@font-face {
    font-family: 'poppinsbold';
    src: url('assets/fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsregular';
    src: url('assets/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


header {
    background-color: #ffffff;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
border-color: blue;
}
div1 {
  display: flex;
  flex-wrap: wrap;
}
div1.img {
  size: 50%;
}
div{
    display: flex;
    text-align: center;  
}
h1 {
    color: black;
}
button {
 width: 50px;
 height: 30px;
}
img {
  size: 50px;
  width: 29%;
  height: 20%;
}
spotlight {
  background-color: #ffffff;
  padding: 30px;
  text-align: center;
  display: flex;
}
div2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
    align-items: center;
}
div3 {
  padding: 10%;
  
}
img1{
  padding-left: 30%;
}
div2.h1{
  background-color: antiquewhite;
}
button1 {
  background-color: aqua;
  border-radius: 10%;
  border: #ffffff;
  width: 70%;
  height: 10%;
  align-items: center;

}
cources {
   display: flex;
   justify-content: space-between;
   padding: 3%;
   background-color: azure;
}
#cources h1{
  font-weight: bold;
  text-align: center;
  justify-content:space-around;
}
#cources p{
  opacity: 10%;
}

#cources div {
  display:flex;
  text-align: center;

}
#top {
  padding: 4%;
}
#top  div {
  display: flex;
}
#top  div.img {
 height: 10%;
 width: 50;
}